{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<h3>Your Pending Trades</h3>
<ul>
    {% set has_pending_trades = False %}
    {% for trade in trades %}
        {% if trade.status == 'Pending' %}
        {% set has_pending_trades = True %}
        <li>
            <p>You're offering: {{ trade.user_offered_item.item.title }}</p>
            <p>For: {{ trade.other_user_offered_item.item.title }}</p>
            <button class="accept-trade-btn btn btn-success" data-trade-id="{{ trade.id }}">Accept</button>
            <button class="reject-trade-btn btn btn-danger" data-trade-id="{{ trade.id }}">Reject</button>
        </li>
        {% endif %}
    {% endfor %}

    {% if not has_pending_trades %}
        <p>No pending trades.</p>
    {% endif %}
</ul>

{% if trades %}
<h3>Your Accepted Trades</h3>
<ul>
    {% for trade in trades %}
        {% if trade.status == 'Accepted' %}
        <li>
            <p>You're offering: {{ trade.user_offered_item.item.title }}</p>
            <p>For: {{ trade.other_user_offered_item.item.title }}</p>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}